html, body {
	position: relative;
	width: 100%;
	height: 784px;
	background-color: #f2f2f2;
}

body {
	color: #333;
	background-color: #f2f2f2;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

label {
	display: block;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.search-area-div {
	width: calc(100% - 20px) !important;
	float: left;
	min-width: unset !important;
}

.input.autocomplete-input {
	margin-left: 0 !important;
	margin-right: 0 !important;
	height: 20px !important;
	line-height: 20px !important;
	padding: 0 0 !important;
	font-size: 12px;
	border: 1px solid #ccc;
}

.autocomplete-list-item {
	font-size: 12px;
}

.autocomplete-list-item.selected {
	color: #cccccc;
	font-size: 12px;
}

.autocomplete-list {
	height: 150px;
}

.autocomplete {
	background-color: white;
	z-index: 999;
}

.ml-30 {
	margin-left: 30px;
}

.ml-60{
	margin-left: 60px;
}

.ml-90 {
	margin-left: 90px;
}

table.dataTable thead .sorting:before { 
	content: url('../images/sort_carrots.png'); 
	vertical-align: middle;
	display: table-cell;
	width: 10px;
	line-height: 36px;
	float: right;
}

table.dataTable thead .sorting_asc:before { 
	content: url('../images/sort_carrots.png');
	vertical-align: middle;
	display: table-cell;
	width: 10px;
	line-height: 36px;
	float: right;
}

table.dataTable thead .sorting_desc:before { 
	content: url('../images/sort_carrots.png'); 
	vertical-align: middle;
	display: table-cell;
	width: 10px;
	line-height: 36px;
	float: right;
}

table.dataTable thead .sorting_asc_disabled:before { 
	content: url('../images/sort_carrots.png'); 
	vertical-align: middle;
	display: table-cell;
	width: 10px;
	line-height: 36px;
	float: right;
}

table.dataTable thead .sorting_desc_disabled:before { 
	content: url('../images/sort_carrots.png'); 
	vertical-align: middle;
	display: table-cell;
	width: 10px;
	line-height: 36px;
	float: right;
}

/**
Median For Sale vs Median Sold
**/

/*  */
.tags {
	fill: #666666;
	text-anchor: middle;
	white-space: unset !important;
	font-size: 10px;
}

.non-zero  {
	fill: #CCCCCC;
	text-anchor: end;
	white-space: unset !important;
	font-size: 10px;
}

.med-axis-tick-mark > .tick > line  {
	stroke: none;
	stroke-width: 0;
}

.tick > line {
	stroke: #CCCCCC;
	stroke-width: 1px;
}

.xaxis-ticks{
	font-size: 10px;
	fill: #666666 !important;
	text-anchor: middle;
}

.line-0 {
	stroke: #666666 !important;
	stroke-width: 1px;
}

.tick-0 {
	stroke: #666666 !important;
}

.border-violet {
	border: 1px solid violet;
}

.x-axis-ticks > .tick > text, .x-axis-ticks-two > .tick > text {
	font-size: 10px;
	fill: #666666;

}